<div class="container my-5 d-flex flex-row flex-wrap justify-content-around">
    <div *ngIf="loading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!loading && components.length === 0">
        <h3 class="text-center">Keine Objekte Vorhanden</h3>
        <span>Klicken Sie <a routerLink="/upload">hier</a> um eine neue Datei hochzuladen</span>
    </div>

    <app-card *ngFor="let component of components" [title]="component.title" [description]="component.description" [size]="component.size"
        [partCount]="component.partCount" [size]="component.size" [date]="component.date" [componentID]="component.id">
    </app-card>
</div>