<div class="container my-5 d-flex flex-row flex-wrap justify-content-around">
    <div *ngIf="loading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!loading && archives.length === 0">
        <h3 class="text-center">Keine Objekte Vorhanden</h3>
        <span>Klicken Sie <a routerLink="/upload">hier</a> um eine neue Datei hochzuladen</span>
    </div>

    <app-card *ngFor="let archive of archives" [archive]="archive"></app-card>
</div>