/Dockerfile
/deny.toml
/docker-compose.yml
/.editorconfig
/angular.json
/package.json
/package-lock.json
/README.md
/tsconfig.app.json
/tsconfig.json
/tsconfig.spec.json

/data/
/examples/
/src/
/target/

**/*.rs.bk
