<div class="card my-4" style="width: 18rem;">
    <img class="card-img-top" src="./assets/placeholder.svg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">{{ archive.name }}</h5>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Größe: {{ archive.size }}</li>
      <li class="list-group-item">Anzahl der Parts: {{ archive.packages }}</li>
      <li class="list-group-item">Hochgeladen am {{ archive.created }}</li>
    </ul>
    <div class="card-body">
      <a class="btn btn-primary" [routerLink]="['/viewer', archive.id, 0]">Anzeigen</a>
    </div>
  </div>