<div class="container my-5 d-flex justify-content-center">
    <div *ngIf="loading" class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>

    <div *ngIf="!loading && (!archive || !package)">
        <h3 class="text-center">Dieses Bauteil existiert nicht!</h3>
        <span>Klicken Sie <a routerLink="/dashboard">hier</a> um zum Dashboard zu gelangen</span>
    </div>

    <div *ngIf="!loading && archive.status == 'completed' && package" class="w-100">
        <nav aria-label="Page navigation example" class="position-fixed bottom-0 start-50 translate-middle-x">
            <ul class="pagination">
                <li  class="page-item" [ngClass]="{'disabled': package.index-1 < 1}">
                    <a class="page-link" aria-label="Previous" [routerLink]="['/viewer', archive.id, package.index-1]">
                        <span aria-hidden="true">&laquo; Zurück</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link active">Bauteil {{ package.index + 1 }}</a></li>
                <li class="page-item" [ngClass]="{'disabled': package.index+1 >= archive.packages!}">
                    <a class="page-link" aria-label="Next" [routerLink]="['/viewer', archive.id, package.index+1]">
                        <span aria-hidden="true">Weiter &raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>

        <div class="d-flex flex-lg-row flex-column justify-content-md-center justify-content-around">
            <div class="flex-fill">
                <h3>{{ package.name }}</h3>
    
                <img class="my-5 flex-fill" src="{{ imageUrl }}" alt="" style="max-width: 400px;"/>
            </div>
    
            <div class="flex-fill">
                <ng-container *ngIf="package.manufacturer">
                    <h3>Manufacturer</h3>
        
                    <table class="table my-5">
                        <thead>
                            <tr>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let key of getObjectKeys(package.manufacturer)">
                                <td>{{ key }}</td>
                                <td>{{ package.manufacturer[key] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>

                <ng-container *ngIf="package.supplier">
                    <h3>Supplier</h3>
        
                    <table class="table my-5">
                        <thead>
                            <tr>
                                <th scope="col">First</th>
                                <th scope="col">Last</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let key of getObjectKeys(package.supplier)">
                                <td>{{ key }}</td>
                                <td>{{ package.supplier[key] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </ng-container>
            </div>
        </div>
    </div>
</div>